<div style="display: none">
    <span id="schema-id">{{ schema.id }}</span>
    <span id="schema-name">{{ schema.name }}</span>
</div>

<div id="no-schema" class="alert alert-warning">
    <i class="fa fa-exclamation-triangle"></i> No schema selected. Please select a schema in the menu above!
</div>
<div id="loading-schema" class="alert alert-info">
    <i class="fa fa-spin fa-pulse fa-spinner"></i> Loading schema...
</div>
<div id="error-schema" class="alert alert-danger">
    <i class="fa fa-exclamation-circle"></i> An error occured while loading the schema. Please contact
    your administrator.
</div>

<div id="schema-viewer">
</div>