{#% extends "mdcs/extra/two_columns.html" %#}
{% extends "base_admin.html" %}
{% load staticfiles %}

{% comment %}
<!--
################################################################################
#
# File Name: manage_modules.html
# Application: templates/admin
# Description: 
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
#		  Guillaume SOUSA AMARAL
#		  guillaume.sousa@nist.gov
#
# Sponsor: National Institute of Standards and Technology
#
################################################################################
-->
{% endcomment %}

{% block content%}
<h1 class="page-header">Module Manager</h1>
<p>
    Click on an element from the following tree to associate it with a module. Elements will then be replaced by the
    chosen module during the curation process.
</p>
<div class="row">
    <div class="btn-group pull-right">
        <button class="btn btn-default save template" onclick="saveTemplate()">
            <i class="fa fa-save"></i> Save {{ object_type }}
        </button>
    </div>
</div>
<div class="row">
    {% autoescape off %}
    <div>{{xsdTree}}</div>
    {% endautoescape %}
</div>
{% endblock %}

{% block popups %}
<div id="dialog-modules" title="Manage Module" style="display:none;">
	<p>
		Select the module you want to associate with the selected element.
	</p>
	<table class="table table-bordered">
		<tr>
			<td><b>Default</b></td>
			<td>Default behavior</td>
			<td><button class="btn" onclick="noModule(event)"><i class="icon-plus-sign"></i>Insert</button></td>
		</tr>
		{% for module in modules %}
		<tr>
			<td moduleID="{{module.id}}"><b>{{module.name}}</b></td>
			<td>{{module.url}}</td>
			<td><button class="btn insert" onclick="insertModule(event)"><i class="icon-plus-sign"></i>Insert</button></td>
		</tr>
		{% endfor %}
	</table>
</div>
<div id="dialog-save" title="Template" style="display:none;">
	<p>
		Template saved with success!
	</p>
</div>
{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/admin/XMLTree.css' %}" media="screen" />
<link rel="stylesheet" type="text/css" href="{% static 'css/admin/bucket.css' %}" media="screen" />
{% endblock %}

{% block extra_scripts %}
<script src="{% static 'inc/controllers/js/module_mgr.js' %}"></script>
{% endblock %}