{% extends "mdcs/extra/one_column.html" %}
{% load staticfiles %}
{% load auth_extras %}
{% comment %}
<!--
################################################################################
#
# File Name: all-options.html
# Application: templates
# Description: 
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
#		  Guillaume SOUSA AMARAL
#		  guillaume.sousa@nist.gov
#
# Sponsor: National Institute of Standards and Technology
#
################################################################################
-->
{% endcomment %}

{% block title %}<h1>All Options</h1>{% endblock %}
{% block menu %}{% include 'mdcs/menus/main.html' with active_tab='options' %}{% endblock %}

{% block content %}
<div class="left" style="width: 350px">
	{% if user|has_perm:'explore.explore_access' %}
	<div class="clearer">&nbsp;</div>
	<br/>
	<img src="{% static 'resources/img/edit-big.png' %}" width="64" height="64" alt="" class="left bordered" />
	<h3><a href="curate">Curate your {{CUSTOM_DATA}}</a></h3>
	<p>Click here to select a form template and then fill out the corresponding form.</p>
	<div class="clearer">&nbsp;</div>
	{% endif %}
	
	{% if user|has_perm:'curate.curate_access' %}
	<div class="clearer">&nbsp;</div>
	<br/>
	<img src="{% static 'resources/img/edit-big.png' %}" width="64" height="64" alt="" class="left bordered" />
	<h3><a href="compose">Compose a template</a></h3>
	<p>Click here to compose your own template.</p>
	<div class="clearer">&nbsp;</div>
	{% endif %}
</div>

<div class="right" style="width: 350px">
	{% if user|has_perm:'compose.compose_access' %}
    <div class="clearer">&nbsp;</div>
	<br/>
	<img src="{% static 'resources/img/search-big.png' %}" width="64" height="64" alt="" class="left bordered" />
	<h3><a href="explore">Explore the repository</a></h3>
	<p>Click here to search for {{CUSTOM_DATA}} in the repository using flexible queries.</p>
	<div class="clearer">&nbsp;</div>
	{% endif %}
</div>

<div class="clearer">&nbsp;</div>

{% endblock %}

