{% extends "mdcs/extra/one_column.html" %}
{% load staticfiles %}
{% load auth_extras %}
{% comment %}
<!--
################################################################################
#
# File Name: index.html
# Application: templates
# Description:
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
#		  Guillaume SOUSA AMARAL
#		  guillaume.sousa@nist.gov
#
# Sponsor: National Institute of Standards and Technology
#
################################################################################
-->
{% endcomment %}

{% block menu %}{% include 'mdcs/menus/main.html' with active_tab='tab1' %}{% endblock %}

{% block title %}	
<div class="left" style="width: 400px">		
    <h1><span>{{CUSTOM_TITLE}} Curator</span></h1>
    <br/>
    <p class="large">
	This system allows for the curation of Material Data in a repository using predefined templates. <br/><br/>
    This is being developed at the National Institute of Standards and Technology and is made available to solicit comments from the Material Science community.
    Please do not enter any proprietary data into this system.
    </p>
</div>
<div class="right">
	<img src="{% static 'img/mgi-diagram.jpg' %}" width="262" height="260" alt="" />
</div>

<div class="clearer">&nbsp;</div>
{% endblock %}

{% block content %}
<div class="separator-vertical">
	<div class="col2 left">
	
		<h2 class="left">Available Options</h2>
		<div class="right more large"><a href="all-options">All Options &#187;</a></div>
		
		<div class="clearer">&nbsp;</div>
	
		<div class="content-separator"></div>

		{% if user|has_perm:'curate.curate_access' %}
		<img src="{% static 'resources/img/edit-big.png' %}" width="64" height="64" alt="" class="left bordered" />
	
		<h3><a href="curate">Curate your {{CUSTOM_DATA}}</a></h3>
		
		<p>Click here to select a form template and then fill out the corresponding form.</p>
	
		<div class="clearer">&nbsp;</div>
	
		<div class="content-separator"></div>
		{% endif %}

		{% if user|has_perm:'explore.explore_access' %}
		<img src="{% static 'resources/img/search-big.png' %}" width="64" height="64" alt="" class="left bordered" />
	
		<h3><a href="explore">Explore the repository</a></h3>
		
		<p>Click here to search for {{CUSTOM_DATA}} in the repository using flexible queries.</p>
	
		<div class="clearer">&nbsp;</div>
		<div class="content-separator"></div>
		{% endif %}

		{% if user|has_perm:'compose.compose_access' %}
		<img src="{% static 'resources/img/edit-big.png' %}" width="64" height="64" alt="" class="left bordered" />
	
		<h3><a href="compose">Compose a template</a></h3>
		
		<p>Click here to compose your own template.</p>
	
		<div class="clearer">&nbsp;</div>
		{% endif %}
	
	</div>
	
	<div class="col2 right">
	
		<h2 class="left">Most Recent Templates</h2>
		<div class="right more large"><a href="browse-all">Browse All &#187;</a></div>
	
		<div class="clearer">&nbsp;</div>
		<ul class="nice-list">
			{% if templates %}
				{% for template in templates %}
				<li><span></span> {{ template.title }}  | {{ template.filename }}</li>
				{% endfor %}
			{% endif %}
		</ul>
								
	</div>
	
	<div class="clearer">&nbsp;</div>

</div>
{% endblock %}
