<li class="root">
    <i class="fa fa-database"></i> Database
</li>
<li>
    <i class="fa fa-chevron-down"></i> AMBuilds
    <ul>
        <li><i class="fa fa-chevron-right"></i> TPPBuilds</li>
        <li><i class="fa fa-chevron-right"></i> DEDBuilds</li>
        <li><i class="fa fa-chevron-right"></i> MJBuilds</li>
        <li>
            <i class="fa fa-chevron-down"></i> PBFBuilds <a class="branch" href="#"><i class="fa fa-external-link"></i></a>
            <ul>
                <li>EBeamBuilds <a class="empty" href="#"><i class="fa fa-external-link"></i></a></li>
                <li>
                    <i class="fa fa-chevron-down"></i> LPBFBuild
                    <ul>
                        <li><a class="leaf" href="#"/><i class="fa fa-file"></i> Build0</a></li>
                        <li><a class="leaf" href="#"/><i class="fa fa-file"></i> Build1</a></li>
                        <li><a class="leaf" href="#"/><i class="fa fa-file"></i> Build2</a></li>
                    </ul>
                </li>
                <li><i class="fa fa-chevron-right"></i> SLBuilds</li>
            </ul>
        </li>
    </ul>
</li>
<li><i class="fa fa-chevron-right"></i> AMMachines</li>
<li><i class="fa fa-chevron-right"></i> AMMaterials</li>
<li><i class="fa fa-chevron-right"></i> AMTests</li>