

{#% extends "mdcs/extra/one_column.html" %#}
{% extends 'base_main.html' %}
{% load staticfiles %}
{% load auth_extras %}
{% load dict_key_extras %}




{% comment %}
<!--
################################################################################
#
# File Name: my_dashboard_my_records.html
# Application: user_dashboard
# Description:
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
#		  Xavier SCHMITT
#		  xavier.schmitt@nist.gov
#
# Sponsor: National Institute of Standards and Technology
#
################################################################################
-->
{% endcomment %}

{% block content %}

<h1 id="my-records-title" class="page-header">My Records</h1>

  <div id="body">

	<div class="width">

    <!--<ul class="nav nav-tabs">-->
        <!--{% if not ispublished %} <li class="active"> {%else%} <li> {% endif%} <a href="/dashboard/records">All</a></li>-->
        <!--{% if ispublished == "true" %} <li class="active"> {%else%} <li> {% endif%}<a href="/dashboard/records?ispublished=true">Published</a></li>-->
        <!--{% if ispublished == "false" %} <li class="active"> {%else%} <li> {% endif%}<a href="/dashboard/records?ispublished=false">Not Published</a></li>-->
    <!--</ul>-->

{% if XMLdatas %}
{% with canEdit=request.user|has_perm:'curate.curate_edit_document' canDelete=request.user|has_perm:'curate.curate_delete_document' %}
{% if user.is_staff %}
  <p>
    <a href="#">
      {% if OtherUser != user%}
      <div id="shw-plp-r" title="proc_otherpeoplerecords">
        <span class="icon legend result" class= "pull-right" onclick="show_users_records('{{OtherUser.id}}')">
            Other users records
        </span>
      </div>
        {%elif OtherUser == user%}
              <!--Only this user found-->
        {%endif%}
    </a>
  </p>
{% endif %}
<div id="users-records" title="Show people records" style="display:none;">
  {% include 'dashboard/my_dashboard_otherusersrecords.html'  %}
</div>
        <table id ="user-record" class="table table-bordered table-striped">
            <tr>
                <th width="25%">Resource name</th>
                <!--<th>Published</th>-->
                <!--<th width="175em">Last Publication date</th>-->
                {% if Templates %}
                  <th>Associated schema name</th>
                <!--  <th>User</th>-->
                  <th>Associated schema ID</th>
                {%endif%}
                <th>Last modified date</th>
                <th>Actions</th>
            </tr>
            {% for XMLdata in XMLdatas %}
                {% cycle 'even' '' as rowcolors silent %}
                <tr class="{{ rowcolors }}">
                    <td>
                            {% if XMLdata.content.Resource.identity.title %}++
                                {{ XMLdata.content.Resource.identity.title }}
                            {%else%}
                                <script>
                                    document.write('{{ XMLdata.title }}'.replace(/\.[^/.]+$/, ""));
                                </script>
                            {% endif %}
                    </td>

                    <!-- Get the associated schema name-->
                    {% if Templates %}
                      {% for Template in Templates %}
                        {% cycle 'even' '' as rowcolorsTemplate silent %}
                          <td class="{{ rowcolorsTemplate }}">
                            {{XMLdata.schema|get_templ_object_from_Id}}
                          </td>
                          <!-- Get the User's name
                          <td >++
                              {% if XMLdata.schema = "59a72cb1c9b7090b8055b581" %}
                                {{Template.user}}
                              {%else%}
                                <script>
                                    document.write('{{ Template.filename }}'.replace(/\.[^/.]+$/, ""));
                                </script>
                              {% endif %}
                          </td>-->
                          <!-- Get the schema ID -->
                          <td>
                              {% if XMLdata.content.Resource.identity.schema %} # A revoir
                                {{ XMLdata.content.Resource.identity.schema}}
                              {%else%}
                                <script>
                                  document.write('{{ XMLdata.schema }}'.replace(/\.[^/.]+$/, ""));
                                </script>
                              {% endif %}
                          </td>
                        {%endfor%}
                    {% endif %}

                    <!-- Get the last modified date -->
                    <td>
                      {% if XMLdata.content.Resource.identity.lastmodificationdate %} # A revoir
                          {{ XMLdata.content.Resource.identity.lastmodificationdate }}
                      {%else%}
                          <script>
                              document.write('{{ XMLdata.lastmodificationdate }}'.replace(/\.[^/.]+$/, ""));
                          </script>
                      {% endif %}
                    </td>
                    <!-- Set the action : view or delete the xml document -->
                    <td>
                        {% with XMLdata|get:"_id" as XMLdata_id %}
                        {% autoescape on %}
                        <a href="/dashboard/detail?type=record&user_id=abc&id={{XMLdata_id}}"><span class="icon legend result">
                            View
                        </span></a>
                        {% endautoescape %}
                        <span class="icon legend delete" onclick="deleteResult('{{XMLdata_id}}')">
                            Delete
                        </span>
                        {% endwith%}
                    </td>
                </tr>
            {% endfor %}
        </table>

{% endwith%}
{%else%}
    No Resources found
{%endif%}

    	<div class="clear"></div>
    </div>
	</div>
<div class="clear"></div>
{% endblock %}

{% block popups %}
<div id="dialog-delete-result" title="Delete Document" style="display:none;">
Are you sure you want to delete this document?
</div>
<div id="dialog-publish" title="Publish Document" style="display:none;">
Are you sure you want to publish this document?
</div>
<div id="dialog-unpublish" title="Unpublish Document" style="display:none;">
Are you sure you want to unpublish this document?
</div>
<div id="dialog-detail-result" title="Resource Details" style="display:none;">
<div id="result_detail">
</div>
</div>
{% endblock %}

{% block extra_scripts %}
  <script src="{% static 'js/dashboard/dashboard.js' %}"></script>
{% endblock %}
