
{#% extends "mdcs/extra/one_column.html" %#}
{% load staticfiles %}
{% load auth_extras %}
{% load dict_key_extras %}



{% comment %}
<!--
################################################################################
#
# File Name: my_dashboard_otherusersrecords.html
# Application: user_dashboard
# Description:
#
# Author: Yande Ndiaye
#         ndeye.ndiaye@nist.gov
#
#
#
# Sponsor: National Institute of Standards and Technology
#
################################################################################
-->
{% endcomment %}

{% block content %}

<h1 class="page-header">Other users Records</h1>

  <div id="body">

	<div class="width">

    <!--<ul class="nav nav-tabs">-->
        <!--{% if not ispublished %} <li class="active"> {%else%} <li> {% endif%} <a href="/dashboard/records">All</a></li>-->
        <!--{% if ispublished == "true" %} <li class="active"> {%else%} <li> {% endif%}<a href="/dashboard/records?ispublished=true">Published</a></li>-->
        <!--{% if ispublished == "false" %} <li class="active"> {%else%} <li> {% endif%}<a href="/dashboard/records?ispublished=false">Not Published</a></li>-->
    <!--</ul>-->
    <div class="toolbar">
    	<button class="btn-group pull-right">
        	<span class="btn" onclick="Back_to_records();" style="text-decoration:none">Back to records</span>
      	</button>
    	<br/><br/>
    </div>
{%if OtherUsers%}
  {%for OtherUser in OtherUsers%}
    {% if OtherUser != user %}
      {% if OtherUXMLdatas %}
        {% with canEdit=request.user|has_perm:'curate.curate_edit_document' canDelete=request.user|has_perm:'curate.curate_delete_document' %}

          <table>
            {{ OtherUXMLdata }}
          </table>

        {% endwith%}
      {%else%}
        No Resources found for the user {{ OtherUser }}
      {%endif%}
    {%endif%}
  {%endfor%}
{%else%}
    No Resources found {{ OtherUXMLdatas }}
{%endif%}
    	<div class="clear"></div>
    </div>
	</div>
<div class="clear"></div>
{% endblock %}

{% block popups %}
<div id="dialog-delete-result" title="Delete Document" style="display:none;">
Are you sure you want to delete this document?
</div>
<div id="dialog-publish" title="Publish Document" style="display:none;">
Are you sure you want to publish this document?
</div>
<div id="dialog-unpublish" title="Unpublish Document" style="display:none;">
Are you sure you want to unpublish this document?
</div>
<div id="dialog-detail-result" title="Resource Details" style="display:none;">
<div id="result_detail">
</div>
</div>
{% endblock %}

{% block extra_scripts %}
  <script src="{% static 'js/dashboard/dashboard.js' %}"></script>
{% endblock %}
