{#% extends "mdcs/extra/one_column.html" %#}
{% extends 'base_main.html' %}
{% load staticfiles %}

{% comment %}
<!--
################################################################################
#
# File Name: my_profile_change_password.html
# Application: templates
# Description: 
#
# Author: Sharief Youssef
#         sharief.youssef@nist.gov
#
#		  Guillaume SOUSA AMARAL
#		  guillaume.sousa@nist.gov
#
# Sponsor: National Institute of Standards and Technology
#
################################################################################
-->
{% endcomment %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static 'resources/css/exploreTabs.css' %}"  media="screen" />
{% endblock %}

{% block menu %}{% include 'mdcs/menus/main.html' with active_tab='profile' %}{% endblock %}
{% block submenu %}
    {% include 'mdcs/menus/submenu/dashboard.html' with active_tab='tab0' %}
{% endblock %}
{% block content%}
<h1 class="page-header">My Profile - Change Password</h1>
<div class="clearer">&nbsp;</div>
Use the following form to change your password.
<div>
<br/>
<form action="/dashboard/my-profile/change-password" method="post" onsubmit="return validatePassword()">
 	{% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <br/>
    <div id="password_error" style="font-weight: bold;">
    {{action_result}}
    </div>
    <input type="submit" class="btn btn-default" value="Change Password"/>
</form>
</div>
{% endblock %}

{% block extrajs %}
<script src="{% static 'inc/controllers/js/user_account_req.js' %}"></script>
{% endblock %}

