<h2 class="section-header">{{ view.title }}</h2>

<table class="table table-bordered table-striped view-data-table">
    <tbody>
        {% for view_data_item in view.data %}
            {% if "items" in view_data_item %}
                {% for subview in view_data_item.items %}
                <tr>
                    <th>{{ subview.name }}</th>
                    <td>
                        <ul>
                            {% for subview_item in subview.items %}
                            <li>{{ subview_item.name }}: {{ subview_item.value }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
            <tr>
                <th>{{ view_data_item.name }}</th>
                {% if "link" in view_data_item %}
                    <td><a class="link {{ view_data_item.link }}" href="#">{{ view_data_item.value }}</a></td>
                {% else %}
                    <td>{{ view_data_item.value }}</td>
                {% endif %}
            </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>