{% extends "commons/modal.html" %}

{% block modal_id %}edit-owl-modal{% endblock %}

{% block modal_title %}Edit the ontology name{% endblock %}

{% block modal_body %}
<p>
    You can change the name of your ontology in the form below:
</p>
<div class="input-group">
    <input type="text" class="form-control" id="edit-owl-name" placeholder="ontology"
            value=""/>
    <div class="input-group-addon" id="ontology-extension">
        <!--<i class="fa fa-check"></i>-->
        .owl
    </div>
</div>
<div id="edit-select-template" class="raw" style="margin-top: 0.5em;">
    {{template_list}}
</div>
<input type="hidden" id="edit-owl-id" value=""/>
<div id="edit_error_div" class="raw" style="margin-top:0.5em;">
    <p class="alert alert-danger">
        <i id="edit_error_message" class="fa fa-exclamation-circle" style="padding: 5px;"></i>
    </p>
</div>
{% endblock %}

{% block modal_footer %}
    <button class="btn btn-default" data-dismiss="modal">
        <i class="fa fa-times"></i> Close
    </button>
    <button class="btn btn-primary" id="confirm-edit-owl">
        <i class="fa fa-edit"></i> Apply changes
    </button>
{% endblock %}