<footer class="footer">
  <div class="container">
    <p class="text-muted">
        AM Curator System <small>0.1.5</small> |
        <a target="_blank" href="http://www.nist.gov/public_affairs/privacy.cfm#privpolicy">Privacy Policy</a> |
        <a target="_blank" href="http://www.nist.gov/public_affairs/privacy.cfm#secnot">Security Notice</a> |
        <a href="http://www.nist.gov/public_affairs/privacy.cfm#accesstate">Accessibility Statement</a> |
        <a target="_blank" href="mailto:inquiries@nist.gov?subject=Feedback%20on%20Website%20EL%20AMMD">
            Contact Webmaster
        </a>
    </p>
  </div>
</footer>