{% load staticfiles %}

<script src="{% static 'js/jquery-1.12.4.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
<!--<script type="text/javascript" src="{% static 'js/jquery.layout.js' %}"></script>-->

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>

<script src="{% static 'js/url.js' %}"></script>
<!--<script src="{% static 'js/tree.js' %}"></script>-->
<script src="{% static 'js/mock.js' %}"></script>
<script src="{% static 'inc/controllers/js/csrf.js' %}"></script>
