{% load cache %}
{% load staticfiles %}
<!-- Bootstrap CSS -->
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap.theme.css' %}" rel="stylesheet">

<!-- JQuery UI CSS -->
<link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet">
<link href="{% static 'css/jquery-ui.structure.css' %}" rel="stylesheet">
<link href="{% static 'css/jquery-ui.theme.css' %}" rel="stylesheet">

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
<link href="{% static 'css/font-awesome-4.6.3.css' %}" rel="stylesheet">

<link href="{% static 'css/tree.css' %}" rel="stylesheet">
<link href="{% static 'css/footer.css' %}" rel="stylesheet">
<link href="{% static 'css/theme.add.css' %}" rel="stylesheet">

{# Import from MDCS #}
<link href="{% static 'css/style.add.css' %}" rel="stylesheet">

